<!DOCTYPE html>
<html>
<head>
  <title>HungryGames</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<span class="logo"><%= link_to 'HungryGames', root_path %></span>
	<nav>
		<% if current_user %>
			<span>Hello <%= current_user.first_name %></span>
			<%= link_to 'sign out', signout_path, method: :delete %>
		<% else %>
			<%= link_to 'sign in', signin_path %>
			<%= link_to 'sign up', new_user_path %>
		<% end %>
	</nav>
</header>
<main>
	<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
	<% end %>

	<%= yield %>
</main>

</body>
</html>
